/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/PTSans.woff2') format('woff2'),
       url('../fonts/PTSans.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/PTSans-Bold.woff2') format('woff2'),
       url('../fonts/PTSans-Bold.woff') format('woff');
  font-display: swap;
}

/* Variables */
:root {
    --text-color-dark: #333333;
    --text-color-black: #000000;
    --text-color-white: #ffffff;
    --basic-color-rating: #666666;
    --basic-page-color: #f2f2f2;
    --basic-color-brown: #766357;
    --basic-color-blue: #81B3D2;
    --basic-block-color: #eeeeee;
    --basic-range-color: #ABABAB;
    --footer-opacity-color: rgba(255, 255, 255, 0.9);
    --basic-white-opasity:rgba(255, 255, 255, 0.3);
    --basic-shadow-opasity: rgba(0, 0, 0, 0.3);
    --basic-form-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    --state-color-brown-aiming: #604E43;
    --state-color-brown-pressing: #503E33;
    --state-color-blue-aiming: #669EC0;
    --state-color-blue-pressing: #5496BD;
    /* --state-copyright-color-rest: #231F20; */
    --state-copyright-color-pressing: #BDBBBC;
    --state-calendar-color: #A9A9A9;
    --state-input-color-aiming: #EBEBEB;
    --state-input-color-focus: #e5e5e5;
}

.page {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--text-color-dark);
    text-transform: uppercase;
    background-color: var(--basic-page-color);
}
.page-body a {
  text-decoration: none;
}
.page-body img {
  max-width: 100%;
  height: auto;
}

.shadow {
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    box-shadow: 0px 0px 15px 5px var(--basic-shadow-opasity);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* MAIN-NAVIGATION */
.navigation-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--text-color-white);
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--text-color-black);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: var(--text-color-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-color-blue);
}
/* MAIN */
.wrapper-main {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--text-color-white);
}
/* PROMO */
.promo {
  position: relative;
  width: 1200px;
  height: 509px;
  background-image: url(../img/landscape.jpg);
  background-repeat: no-repeat;
  background-color: var(--basic-block-color);
  text-align: center;
}

.promo img {
  width: 456px;
  height: 350px;
}
.logo-welcome {
  margin-top: 76px;
  margin-bottom: 21px;
}
.promo:after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  background-image: url(../img/icons/intro-mask.svg);
  background-repeat: no-repeat;
  background-size: 100% 59px;
  position: absolute;
  bottom: 0;
}
/* REASONS */
.container-benefits {
  background-color: var(--text-color-white);
}

.reason-container {
  width: 1200px;
  height: 216px;
  text-align: center;
  background-color: var(--text-color-white);
}

.reason-container p {
  line-height: 26px;
}

.reason-container p:first-of-type {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--text-color-black);
}

.reasons-list,
.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reason-list-item {
  color: var(--text-color-white);
  background-color: var(--basic-color-blue);
  text-align: center;
}
.reasons-list-title,
.advantages-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.city-photo,
.devils-bridge-canyon {
  background-color: var(--basic-block-color);
}

.reasons-list li:nth-child(n+6) {
  background-color: var(--basic-block-color);
}
/* PROMO-FORM FORM */
.promo-form {
  width: 1200px;
  min-height: 291px;
  background-color: var(--text-color-white);
  text-align: center;
}

.promo-form h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color-black);
}

.button-wrapper {
  width: 568px;
  margin-top: 47px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--basic-color-brown);
}

.search-btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--text-color-white);
}

.button-wrapper:hover {
  background-color: var(--state-color-brown-aiming);
}

.button-wrapper:active {
  background-color: var(--state-color-brown-pressing);
}
/* FORM-BOOKING */
.form-show {
  width: 568px;
  height: 395px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-color-black);
  background-color: var(--text-color-white);
  box-shadow: var(--basic-form-shadow);
}

.form-booking {
  padding: 50px;
}

.block-date input,
.container-inner input {
  font: inherit;
  line-height: inherit;
  background-color: var(--basic-page-color);
}

.block-date input:hover {
  background-color: var(--state-input-color-aiming);
}

.block-date input:focus {
  background-color: var(--text-color-white);
  border: 2px solid #e5e5e5;
}

.calendar {
  border: none;
  outline: none;
  background-color: transparent;
}
.calendar:hover path {
  fill: var(--text-color-black);
}

.calendar:active path {
  fill: var(--basic-color-blue);
}

.calendar:focus {
  outline: 1px solid var(--text-color-black);
}

.btn-less,
.btn-more {
  border: none;
  outline: none;
  background-color: transparent;
}

.btn-less:focus,
.btn-more:focus {
  outline: 1px solid var(--text-color-black);
}
.btn-less:hover path,
.btn-more:hover path {
  fill: var(--text-color-black);
}

.btn-less:active path,
.btn-more:active path {
  fill: var(--basic-color-blue);
}

.button-find {
  width: 458px;
  height: 58px;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--text-color-white);
  background-color: var(--basic-color-blue);
  border: none;
  outline: none;
}

.button-find:hover {
  background-color: var(--state-color-blue-aiming);
}

.button-find:active {
  background-color: var(--state-color-blue-pressing);
}

/* HOTELS */
.form-filter {
  min-height: 217px;
  background-image: url(../img/filter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--basic-block-color);
}

.form-list,
.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: var(--text-color-white);
}

.form-filter,
.form-cost-filter {
  font: inherit;
  color: var(--text-color-white);
  text-transform: uppercase;
}

.option {
  display: block;
}

.input-check {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  margin-left: -30px;
  width: 27px;
  height: 23px;
  background-image: url(../img//icons/checkbox-off.svg);
  background-repeat: no-repeat;
}
.check-box-parking,
.check-box-wi-fi {
  background-image: url(../img/icons/shape-square.svg);
  background-repeat: no-repeat;
}
.check {
  padding-left: 30px;
}

.input-check:checked + .check-box {
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
}

.input-check:focus + .check-box {
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
}

.input-check:checked:focus + .check-box {
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
}

.input-check:disabled + .check-box {
  background-image: url(../img/icons/checkbox-off-disabled.svg);
  background-repeat: no-repeat;
}

.input-check:checked:disabled + .check-box {
  background-image: url(../img/icons/checkbox-on-disabled.svg);
  background-repeat: no-repeat;
}
/* FORM-COST-FILTER ПОКА НЕ ПОНЯТНО КАК ПРИВЕСТИ ЕГО В ПОРЯДОК КАК В МАКЕТЕ */

.filter-item legend {
  margin-bottom: 10px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 250px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  margin-top: 10px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 39px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-around;
}

.price-controls input {
  width: 110px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 2px;
  background: #333;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-color-white);
  text-transform: uppercase;
}

.button-show {
  width: 137px;
  height: 36px;
  font: inherit;
  color: var(--text-color-white);
  border: 2px solid var(--text-color-white);
  border-radius: 2px;
  outline: none;
  background-color: transparent;
}

.button-show:hover {
  color: var(--text-color-black);
  background-color: var(--text-color-white);
}
/* .SORTING-RESULTS */
.sorting-results {
  background-color: var(--text-color-white);
}
.sorting-results p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--text-color-black);
}

.sorting-results h2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--text-color-black);
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: var(--text-color-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-color-blue);
}

.sorting-list .active-link {
  color: var(--basic-color-blue);
  border-bottom: none;
}

.sorting-list a:hover {
  color: var(--basic-color-blue);
}

.sorting-list a:active {
  color: var(--text-color-black);
  border-bottom: none;
}

.arrow a:hover path {
  fill: var(--text-color-black);
}

.arrow a:active path {
  fill: var(--basic-color-blue);
}

/* LIST-OF-HOTELS */
.list-of-hotels {
  background-color: var(--text-color-white);
}
.list-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-info h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--text-color-black);
}

.links-row a {
  font-weight: 700;
  color: var(--text-color-white);
}

.more {
  width: 110px;
  min-height: 27px;
  background-color: var(--basic-color-blue);
}

.to-book {
  width: 142px;
  min-height: 27px;
  background-color: var(--basic-color-brown);
}

.rating {
  width: 110px;
  min-height: 27px;
  background: var(--basic-page-color);
  color: var(--basic-color-rating);
  text-align: center;
}
/* FOOTER */
.wrapper-footer {
  width: 1200;
  min-height: 120px;
  background-color: var(--footer-opacity-color);
}

.contacts,
.contacts a {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--text-color-black);
}

.social-wrapper {
  width: 150px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social {
  width: 46px;
  height: 48px;
  background-color: var(--basic-color-blue);
  color: var(--text-color-white);
}

.social:hover {
  background-color: var(--state-color-blue-aiming);
}

.social:active {
  background-color: var(--state-color-blue-pressing);
}

.copyright p {
  font-size: 14px;
  line-height: 26px;
  color: var(--text-color-black);
}

.links-website:hover path {
  fill: var(--basic-color-blue);
}

.links-website:active path {
  fill: var(--state-copyright-color-pressing);
}
